/*=============================================
=            BREAKPOINTS - A.S.Adventure       =
=============================================*/
/*-----  End of Section comment block  ------*/
/*====================================
=            Styles - USP            =
====================================*/
#container-usp {
  width: 100%;
  background: transparent;
  margin-left: 30px;
  margin-right: 0;
  padding: 0; }
  @media only screen and (max-width: 766px) {
    #container-usp {
      display: none; } }

#container-usp ul {
  margin: 0;
  padding: 0;
  color: #303030; }
  #container-usp ul.fr {
    font-size: 12px; }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      #container-usp ul.fr {
        font-size: 10px; } }
    @media only screen and (min-width: 767px) and (max-width: 979px) {
      #container-usp ul.fr {
        font-size: 9px; } }

#container-usp ul .fa {
  color: #fe9122; }

#container-usp ul li {
  width: 31%;
  float: left;
  padding-left: 15px;
  list-style-type: none; }
  #container-usp ul li:last-child {
    float: right;
    text-align: right;
    padding-right: 30px;
    padding-left: 0 !important; }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    #container-usp ul li {
      font-size: 11px; } }
  @media only screen and (min-width: 767px) and (max-width: 979px) {
    #container-usp ul li {
      width: auto;
      font-size: 11px;
      padding-left: 0; }
      #container-usp ul li.center {
        margin: 0 auto;
        text-align: center;
        left: 28%;
        position: absolute; } }
