#headerSearch #suggestDropdown {
  margin-top: 45px; }

.certona .slides {
  margin-left: -30px !important; }

.detail_v1 .flexslider_recommended .slides .flexli:first-child {
  margin-left: 0 !important; }

#main .detail_v2 #productHeader .product_gender {
  position: relative;
  right: -16px; }

.productImageSliderControls {
  margin-top: 7px; }

#productBody .colorLinks li .er_icon {
  margin-top: 0; }

sub, sup {
  position: static; }

#main .detail_v2 #productBody .swatch_container .colorLinks li {
  margin: 0 12px 0 0; }

#productBody .colorLinks li a, #productBody .colorLinks li .promo_icon {
  position: static; }

#productBody .colorLinks li a {
  transition: none; }

#main .detail_v2 .certona .product_recommendations li.span2 .front.thumb .inner .footer .priceNew {
  float: none;
  font-weight: 600;
  text-align: center; }

#main .detail_v2 #product2_rr .flexslider_recommended li.span2 .front.thumb .inner .footer .priceNew .labeler {
  display: inline-block; }

#main .detail_v2 .productInfo .technical {
  position: relative; }

#main .detail_v2 .productInfo .technical .manual a.manualLink {
  position: absolute;
  top: 5px;
  right: 10px; }

#main .detail_v2 #productBody .size_container .sizes a {
  border: 1px solid transparent; }

#main .detail_v2 .recentlyViewed h3, #main .detail_v2 #product2_rr h3, #main .detail_v2 #product1_rr h3 {
  text-transform: capitalize; }

#main .detail_v2 .recentlyViewed .flexslider_recommended li.span2 .front.thumb .inner .footer {
  float: none;
  padding: 5px 0;
  width: 100%; }

#main .detail_v2 .review_overview .review-block-points-minus {
  margin-left: 10px; }

/*====================================
=            Styles - USP            =
====================================*/
/**
 * Description: Header usp - website asadventure.com.
 * Version: 1.0.0
 * Last update: 2015/01/05
 * Author: Pieter De Wachter <pieter.dewachter@asadventure.com>
 *
 * Summary:
 *
 *	0. CONTAINER
 *		- 0.1. UL-ELEMENTS
 *		- 0.2. UL LI ELEMENTS
 *	1. MEDIAQUERRIES
 *		- 1.1. LANDSCAPE
 *		- 1.2. PORTRAIT
 *	2. COLORS
 *		- 2.1. ICONS
 */
/* ==========================================================================
   0. CONTAINER
   ========================================================================== */
#container-usp {
  width: 100%;
  margin-left: 30px;
  margin-right: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  /* 	NON-DISPLAY MOBILE DEVICES */ }
  @media only screen and (max-width: 766px) {
    #container-usp {
      display: none; } }

/* 0.1. UL ELEMENT
   ========================================================================== */
#container-usp ul {
  margin: 0;
  padding: 0;
  color: #505050;
  /* 	CHANGE FONT-SIZE FOR LARGER TEXT */ }
  #container-usp ul.fr_fix {
    font-size: 14px; }
  #container-usp ul.de_fix {
    font-size: 13px; }

/* 0.2. UL LI ELEMENTS
   ========================================================================== */
#container-usp ul li {
  width: 30.701754386%;
  float: left;
  padding-left: 15px;
  list-style-type: none;
  /* 	MIDDLE ITEM (CENTER) */
  /* 	LAST ITEM */
  /* ==========================================================================
     1. MEDIAQUERRIES TABLET (LANDSCAPE & PORTRAIT)
     ========================================================================== */
  	/* 	1.1. LANDSCAPE
     		========================================================================== */
  	/* 	1.2. PORTRAIT
     		========================================================================== */ }
  #container-usp ul li + * {
    text-align: center; }
  #container-usp ul li:last-child {
    text-align: right; }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    #container-usp ul li {
      font-size: 11px; }
      #container-usp ul li.fr_fix {
        font-size: 10px; }
      #container-usp ul li.de_fix {
        font-size: 10px; } }
  @media only screen and (min-width: 767px) and (max-width: 979px) {
    #container-usp ul li {
      font-size: 8.8px;
      padding-left: 0; }
      #container-usp ul li.de_fix {
        font-size: 8px; } }

/* ==========================================================================
   2. COLORS
   ========================================================================== */
	/* 	2.1. ORANGE
   		========================================================================== */
#container-usp ul .fa {
  color: #fe9122; }
