#headerSearch #suggestDropdown{
	margin-top: 45px;
}

.slides{
	margin-left: -30px;
}

#main .detail_v2 #productBody .swatch_container .colorLinks li{
	position: relative;
}

#productBody .colorLinks li .er_icon{
	margin-top: 0;
}