@import "breakpoints";

#container-usp {
	width: 100%;
	background: transparent;
	margin-left: 30px;
	margin-right: 0;
	padding: 0;
	@include breakpoint(baby-bear) {
		display: none;
	}
}

#container-usp ul {
	margin: 0;
	padding: 0;
	color: #303030;
}

#container-usp ul .fa {
	color: #fe9122;
}

#container-usp ul li {
	width: 31%;
	float: left;
	padding-left: 15px;
	list-style-type: none;
	&:last-child {
		float: right;
		text-align: right;
		padding-right: 30px;
		padding-left: 0 !important;
	}
	@include breakpoint(mama-bear) {
		font-size: 11px;
	}
	@include breakpoint(stiff-mama-bear) {
		width: auto;
		font-size: 11px;
		padding-left: 0;
		&.center {
			margin: 0 auto;
			text-align: center;
			left: 28%;
			position: absolute;
		}
	}
}