@import "breakpoints";

/*====================================
=            Styles - USP            =
====================================*/

/**
*
* Pieter De Wachter ©2014
*
**/

#container-usp {
	width: 100%;
	background: red;
	margin-left: 30px;
	margin-right: 0;
	padding: 0;
	font-family: "Open Sans", Helvetica, sans-serif;
	@include breakpoint(baby-bear) {
		display: none;
	}
}
#container-usp ul {
	margin: 0;
	padding: 0;
	color: #505050;
	&.fr {
		font-size: 12px;
	}
}

#container-usp ul .fa {
	color: #fe9122;
}
#container-usp ul li {
	width: 350px / 1140px * 100%;
	float: left;
	padding-left: 15px;
	list-style-type: none;
	&+* {
		text-align: center;
	}
	.highlighted {
		font-weight: bold;
		color: #2C7035;
	}
	&:last-child {
		text-align: right;
	}
	@include breakpoint(mama-bear) {
		font-size: 11px;
		&.fr {
			font-size: 10px;
		}
	}
	@include breakpoint(stiff-mama-bear) {
		font-size: 8.8px;
		padding-left: 0;
	}
}